[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzmq = "~=23.2"

[dev-packages]
mypy = "~=0.971"
black = "~=22.6"
isort = "~=5.10"
build = "~=0.8"

[requires]
python_version = "3.8"
